<div class="row-fluid">
  <div class="span12">
    <div class="hero-unit">
      <h1>Ready to be counted?</h1>
      <p>Step right up, cast your vote and see the results pour in.  The action happens in real time.  The polls available are listed below.  Check them out.</p>
      <p><a class="btn btn-large btn-info" href="#polls/{{ latest.title_slug }}/vote">Latest: {{ latest.title }} &raquo;</a></p>
    </div>
    <div class="row-fluid">
      {{#iter polls}}
        {{#mod i 3}}
    </div>
    <div class="row-fluid">
        {{/mod}}
      <div class="span4">
        <h2>{{ title }}</h2>
        <p>{{ desc }}</p>
        <p><a class="btn btn-primary" href="#polls/{{ title_slug }}/vote">Vote &raquo;</a></p>
      </div><!--/span-->
      {{/iter}}
    </div><!--/row-->
  </div><!--/span-->
</div><!--/row-->