<div class="pg poll-pg">
  <a href="#poll/{{ title_slug }}/vote" class="btn btn-large btn-primary pull-right">Vote &raquo;</a>
  <h1>{{ title }}</h1>
  <p>{{ desc }}</p>

  <div class="row-fluid" id="opts">
      <div class="span6">
        <div id="chart"></div>
      </div>
      <div class="span6">
        <h2>Choices</h2>
        {{#each opts}}
          <a href="javascript:void(0);" class="btn btn-large disabled">{{ votes }} - {{ title }}</a>
        {{/each}}
      </div>
  </div>
</div>